extends ../common/base.i.pug
append head
	- subtitle = 'options'
	link(rel="stylesheet" href="options.css")
append body
	x-tabs
		x-tabs-nav(tabindex='0')
			x-tab.icon-text(active)
				svg.icon: use(href='../icons/photon-icons.svg#preferences')
				span(data-i18n="general")
			x-tab.icon-text
				svg.icon: use(href='../icons/photon-icons.svg#window')
				span(data-i18n="interface")
			x-tab.icon-text
				svg.icon: use(href='../icons/photon-icons.svg#globe')
				span(data-i18n="network")
			x-tab.icon-text
				svg.icon: use(href='../icons/photon-icons.svg#developer')
				span(data-i18n="advanced")
		x-tabs-main(same-size)
			x-page(active)
				label.input-label
					span(data-i18n='saveFileTo')
					select(data-key='saveFileTo')
						option(value='systemDefault' data-i18n='default')
						option(value='downloadFolder' data-i18n='downloadFolder')
						option(value='alwaysAsk' data-i18n='alwaysAsk')
				label.input-label
					input(type='checkbox' data-key='newTaskAtTop')
					span(data-i18n='newTaskAtTop')
				label.input-label
					input(type='checkbox' data-key='removeCompletedTasksOnStart')
					span(data-i18n='removeCompletedTasksOnStart')
				label.input-label
					input(type='checkbox' data-key='removeFailedTasksOnStart')
					span(data-i18n='removeFailedTasksOnStart')
				label.input-label
					input(type='checkbox' data-key='cascadeBuiltinTask')
					span(data-i18n='cascadeBuiltinTask')
				label.input-label
					input(type='checkbox' data-key='keepCompletedTasksContent')
					span(data-i18n='keepCompletedTasksContent')
				label.input-label
					span(data-i18n='simultaneousTasks')
					input(data-key='simultaneousTasks' type='number' min='1' 
							data-i18n-placeholder='unlimited')
				hr
				span.input-label
					label.contents-label
						input(type='checkbox' data-key='monitorDownload')
						span(data-i18n='monitorDownloadDesc')
					span
					select(data-key='monitorDownloadType')
						option(value='downloadDirectly' data-i18n='downloadDirectly')
						option(value='askForOptions' data-i18n='askForOptions')
				label.input-label
					span(data-i18n='monitorDownloadMinSize')
					input(data-key='monitorDownloadMinSize' type='number' required min='0')
					span.input-unit
						span K
						span(data-i18n='byteSymbol')
				label.input-label
					input(type='checkbox' data-key='autoCloseBlankTab')
					span(data-i18n='autoCloseBlankTab')
				label.input-label
					input(type='checkbox' data-key='monitorLinksWithoutRange')
					span(data-i18n='monitorLinksWithoutRange')
				span.input-label
					span(data-i18n='monitorFileTypes')
					label.contents-label
						input(type='checkbox' data-key='monitorPDFFiles')
						span(data-i18n='PDF')
					label.contents-label
						input(type='checkbox' data-key='monitorAudioFiles')
						span(data-i18n='audio')
					label.contents-label
						input(type='checkbox' data-key='monitorVideoFiles')
						span(data-i18n='video')
				div
					button#open-auto-import.dialog-button(type='button' 
							data-i18n='autoImportExtension')
				hr
				span.input-label
					label.contents-label
						input(type='checkbox' data-key='playSoundOnAllCompleted')
						span(data-i18n='playSoundOnAllCompleted')
					span
					button#play-all-completed-sound(type='button') &#9654;
				label.input-label
					input(type='checkbox' data-key='showNotificationOnAllCompleted')
					span(data-i18n='showNotificationOnAllCompleted')
				hr
				label.input-label
					input(type='checkbox' data-key='inhibitSleep')
					span(data-i18n='inhibitSleep')
			x-page
				label.input-label
					span(data-i18n='theme')
					select(data-key='theme')
						option(value='' data-i18n='default')
						option(value='dark' data-i18n='dark')
				div
					label.input-label
						span(data-i18n='iconColor')
						select(data-key='iconColor')
							option(value='default' data-i18n='default')
							option(value='dark' data-i18n='dark')
							option(value='black' data-i18n='black')
							option(value='light' data-i18n='light')
							option(value='white' data-i18n='white')
							option(value='custom' data-i18n='customColor')
							optgroup(data-i18n-label='thirdPartyIcons')
								option(value='alt-1' data-i18n='altIcon1')
								option(value='alt-2' data-i18n='altIcon2')
								option(value='alt-3' data-i18n='altIcon3')
								option(value='alt-4' data-i18n='altIcon4')
					span#icon-color-details
						input(type='color' data-key='iconColorCode')
						input(type='number' min='0' max='100' data-key='iconColorAlpha')
						span %
				label.input-label
					span(data-i18n='contextMenuIconColor')
					select(data-key='contextMenuIconColor')
						option(value='' data-i18n='default')
						option(value='white' data-i18n='white')
				label.input-label
					span(data-i18n='showOnBadge')
					select(data-key='badgeType')
						option(value='none' data-i18n='badgeTypeNone')
						option(value='number' data-i18n='badgeTypeNumber')
				label.input-label
					input(type='checkbox' data-key='hideBadgeZero')
					span(data-i18n='hideBadgeZero')
				label.input-label
					span(data-i18n='iconClickAction')
					select(data-key='iconClickAction')
						option(value='default' data-i18n='default')
						option(value='tab' data-i18n='openInNewTab')
						option(value='window' data-i18n='openInNewWindow')
						option(value='sidebar' data-i18n='openInSidebar')
				label.input-label
					input(type='checkbox' data-key='showTooltip')
					span(data-i18n='showTooltip')
				hr
				label.input-label
					span(data-i18n='windowPosition')
					select(data-key='windowPosition')
						option(value='default' data-i18n='default')
						option(value='parentCenter' data-i18n='parentCenter')
						option(value='remember' data-i18n='rememberLast')
				label.input-label
					span(data-i18n='windowSize')
					select(data-key='windowSize')
						option(value='default' data-i18n='default')
						option(value='remember' data-i18n='rememberLast')
				label.input-label
					input(type='checkbox' data-key='showAddPaused')
					span(data-i18n='showAddPaused')
				label.input-label
					span(data-i18n='shortenTabTitle')
					input(data-key='shortenTabTitle' data-i18n-placeholder='extensionName')
				div
					button#open-filename-search.dialog-button(type='button' 
							data-i18n='configureFilenameSearch')
				span.input-label
					label.contents-label
						input(type='checkbox' data-key='addContextMenuToLink')
						span(data-i18n='addContextMenuToLink')
					span
					select(data-key='addContextMenuToLinkType')
						option(value='downloadDirectly' data-i18n='downloadDirectly')
						option(value='askForOptions' data-i18n='askForOptions')
				hr
				label.input-label
					input(type='checkbox' data-key='showOptionsInDedicatedTab')
					span(data-i18n='showOptionsInDedicatedTab')
				hr
				div#custom-css-links
					a.dialog-button(data-i18n='customCSSButton'
						href='custom-css.html' target='_blank')
					a(data-i18n='customCSSSnippets'
						href=`${repoRoot}wiki/Custom-CSS-snippets` target='_blank')
			x-page
				.input-grid
					label.input-label
						span(data-i18n='maxThreads')
						input(data-key='maxThreads' type='number' required min='1')
					label.input-label
						span(data-i18n='minChunkSize')
						span
							input(data-key='minChunkSize' type='number' required min='0')
							span.input-unit
								span K
								span(data-i18n='byteSymbol')
					label.input-label
						span(data-i18n='maxRetries')
						input(data-key='maxRetries' type='number' min='0'
								data-i18n-placeholder='unlimited')
				label.input-label
					input(type='checkbox' data-key='rememberLastNetworkOptions')
					span(data-i18n='rememberLast')
				label.input-label
					input(type='checkbox' data-key='dynamicMinChunkSize')
					span(data-i18n='dynamicMinChunkSize')
				hr
				.input-grid
					label.input-label
						span(data-i18n='connectionTimeout')
						span
							input(data-key='connectionTimeout' type='number' min='1'
									data-i18n-placeholder='unlimited')
							span.input-unit s
					label.input-label
						span(data-i18n='transferTimeout')
						span
							input(data-key='transferTimeout' type='number' min='1'
									data-i18n-placeholder='unlimited')
							span.input-unit s
				hr
				details(open)
					summary
						span(data-i18n='segmentsInterval')
					.input-grid
						label.input-label
							span(data-i18n='segmentsIntervalInit')
							span
								input(data-key='segmentsIntervalInit' type='number' required min='1')
								span.input-unit s
						label.input-label
							span(data-i18n='segmentsIntervalMax')
							span
								input(data-key='segmentsIntervalMax' type='number' required min='1')
								span.input-unit s
						label.input-label
							span(data-i18n='segmentsIntervalGrowFactor')
							input(data-key='segmentsIntervalGrowFactor' type='number' required
								min='1' step='0.01')
						label.input-label
							span(data-i18n='segmentsIntervalGrowPerFiles')
							input(data-key='segmentsIntervalGrowPerFiles' type='number' required min='1')
			x-page
				label.input-label
					span(data-i18n='legacyFilenameEncoding')
					input(data-key='legacyFilenameEncoding')
				label.input-label
					input(type='checkbox' data-key='legacyFilenameDetectUTF8')
					span(data-i18n='legacyFilenameDetectUTF8')
				label.input-label
					input(type='checkbox' data-key='legacyFilenameDetectURLEncoded')
					span(data-i18n='legacyFilenameDetectURLEncoded')
				label.input-label
					input(type='checkbox' data-key='legacyFilenameDetectNonStandardURLEncoded')
					span(data-i18n='legacyFilenameDetectNonStandardURLEncoded')
				hr
				label.input-label
					input(type='checkbox' data-key='useSiteHandlers')
					span(data-i18n='useSiteHandlers')
				hr
				label.input-label
					span(data-i18n='connectionAPI')
					select(data-key='connectionAPI')
						option(value='' data-i18n='default')
						option(value='Streams') Streams
						option(value='StreamFilter') StreamFilter
				label.input-label
					span(data-i18n='storageAPI')
					select(data-key='storageAPI')
						option(value='' data-i18n='default')
						option(value='MutableFile' data-i18n='storageAPIMutableFile')
						option(value='SegmentedFile' data-i18n='storageAPISegmentedFile')
					span
					a(href=`${repoRoot}wiki/Important-changes-for-Firefox-75`
						data-i18n='readMore' target='_blank' rel="noopener noreferrer")
				label.input-label
					span(data-i18n='cacheMode')
					select(data-key='cacheMode')
						option(value='' data-i18n='default')
						option(value='default') cache
						option(value='no-store') no-store
						option(value='reload') reload
						option(value='no-cache') no-cache
						option(value='force-cache') force-cache
						option(value='only-if-cached') only-if-cached
				hr
				label.input-label
					input(type='checkbox' data-key='monitorDownloadShowBuiltinActions')
					span(data-i18n='monitorDownloadShowBuiltinActions')
				span#configure-monitor-builtin-actions
					a#configure-monitor-builtin-open(href='#' data-i18n='configureOpen')
					a#configure-monitor-builtin-save(href='#' data-i18n='configureSave')
					a(href=`${repoRoot}wiki/Quick-actions-for-built-in-download-in-automatic-prompt`
						data-i18n='readMore' target='_blank' rel="noopener noreferrer")
				label.input-label
					input(type='checkbox' data-key='openWindowIncognito')
					span(data-i18n='openWindowIncognito')
				label.input-label
					input(type='checkbox' data-key='dialogAlwaysOnTop')
					span(data-i18n='dialogAlwaysOnTop')
				label.input-label
					input(type='checkbox' data-key='panelWindowAlwaysOnTop')
					span(data-i18n='panelWindowAlwaysOnTop')
				hr
				label.input-label
					span(data-i18n='logLevel')
					select(data-key='logLevel')
						option(value='info' data-i18n='info')
						option(value='warning' data-i18n='warning')
						option(value='error' data-i18n='error')
				hr
				a(target="_blank" href="/lib/LICENSE-3RD-PARTY.txt" data-i18n="license3rdParty")
	
	#auto-import-container.modal-container(hidden)
		.modal-dialog
			.modal-header
				button.modal-close.dialog-button(type='button')
					svg.icon: use(href='../icons/photon-icons.svg#arrowhead-left')
				b(data-i18n='autoImportExtension')
			#auto-import-ext-list
			.modal-footer-desc(data-i18n='autoImportExtensionDesc')
	#filename-search-container.modal-container(hidden)
		.modal-dialog
			.modal-header
				button.modal-close.dialog-button(type='button')
					svg.icon: use(href='../icons/photon-icons.svg#arrowhead-left')
				b(data-i18n='configureFilenameSearch')
			textarea#filename-search-input(data-key='filenameSearchItems'
				data-i18n-placeholder='filenameSearchItemsExample')
			.modal-footer-desc(data-i18n='configureFilenameSearchDesc')
		
	template#auto-import-ext-item-template
		label.input-label
			input(type='checkbox')
			span
	template#filename-search-item-template
		.filename-search-item
			input(type='checkbox')
			span
	script(type='module' src='options.js')
